<!DOCTYPE html>
<html>
  <head>
    <title>Find Us</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>

            <% if current_user %>
            <li>  Hi <strong><%= current_user.name %></strong></li>
            <li>
              <%= link_to "Sign out", signout_path, id: "sign_out" %>
            </li>
            <% else %>
              <li>
                <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
              </li>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
      <%= yield %>
  </body>
</html>
